*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
body, button{
    font-family: 'Amiri', serif;
}
h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
}