/* 2001 1060 */
body, button{
    font-family: 'Amiri', serif;
}
h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
}
.top {
    width: 100%;
    margin-top: 15px;
    position: relative;
    color: #fff;
    line-height: 60.01px;
    height: 110vh;
}
.top .top-bg{
    position: absolute;
    height: 100%;
    top: -17px;
    z-index: -1;
}
.top .top-bg img{
    height: 100%;
    width: 100%;
    z-index: -1;
}
.top-logo img{
    margin: 0 auto;
    display: block;
    width: 153px;
    height: 162px;
}
.top-text{
    margin: 100px auto;
    width: 707px;
    height: 110px;
    text-align: center;
    position: relative;
}
.top .top-title{
    font-size: 60px;
    font-weight: bold;
}
h1.top-title:before, h1.top-title:after {
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #cdb378;
    display: inline-block;
    left: 15%;
    top: 20%;
}
h1.top-title:after{
    left: 63%;
}
.top .top-sub{
    font-size: 36px;
}
.top .top-desc{
    font-size: 24px;
    color: #cdb378;
}
.top .top-link{
    text-align: center;
    bottom: -10%;
    position: relative;
}
.top-link a{
    color: #fff;
    text-decoration: none;
    color: #cdb378;
}
/* .top-link a:after,
.top-link a:before {
    content: "";
    display: block;
    background-color: #fff;
    width: 1px;
    height: 15px;
    position: relative;
    left: 51%;
    transform: rotate(45deg);
}
.top-link a:before{
    transform: rotate(-45deg);
    left: 50%;
} */

.previous{
    width: 100%;
    background-color: #1a1c0f;
    height: 90vh;
    margin-top: -25px;
    box-shadow: 0px -5px 0px 0px rgba(26, 28, 15, 0.2);
    position: relative;
}
.previous-top, .previous-bottom{
    max-width: 989px;
    padding-left: 5%;
    padding-top: 30px;
    height: 50%;
}
.previous h2{
    color: #fff;
    font-size: 72px;
}
.previous p{
    color: #cdb378;
    font-size: 24px;
}
.previous-bottom{
    max-width: 1200px;
    box-shadow: 0 0 155px rgba(31, 33, 43, 0.65);
    background-color: #232615;
}
.previous-bottom-title{
    color: #cdb378;
}
.previous-bottom-sub{
    color: #b4ba98;
    max-width: 989px;
}
.previous-bottom-btn{
    width: 222px;
    height: 57px;
    border: 2px solid #404429;
    background-color: #272a18;
    font-size: 16px;
    color: #fff;
}
.previous-img{
    position: absolute;
    width: 590px;
    height: 633px;
    display: inline-block;
    right: 0px;
    top: -25px;
}